.agenda-list-container {
  flex: 1;
  flex-shrink: 0;
  min-height: 40vh;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: #f2f1eb;
  border-radius: 0.25rem;
  overflow-y: auto;
}
.agenda-list-center {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.agenda-item {
  display: flex;
  align-items: center;
  margin: 0.75rem;
  padding: 0.5rem 0.75rem;
  background-color: #e8e3da;
  border-radius: 0.25rem;
}
.form-agenda-input {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*이부분 다시 확인 후 todolistitem 에서 수정*/
.input-checkobx {
  margin: 0 1rem;
  color: #c8d5b9;
  background-color: black;
}
.input-checkobx:checked {
  color: gray;
}
.agenda-content {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  word-break: break-word;
}
@media screen and (max-width: 479px) {
  .agenda-item {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
  }
  .agenda-content {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .agenda-item {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
  }
  .agenda-content {
    padding: 0.5rem;
    font-size: 1.05rem;
  }
}

@media screen and (min-width: 768px) {
  .agenda-list-container {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
  .agenda-item {
    margin: 0.75rem;
    padding: 0.5rem 0.75rem;
  }
  .agenda-content {
    padding: 0.75rem;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .agenda-list-container {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
  .agenda-item {
    margin: 0.75rem;
    padding: 0.5rem 0.75rem;
  }
  .agenda-content {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .agenda-list-container {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }
  .agenda-item {
    margin: 1rem;
    padding: 0.75rem 1rem;
  }
  .agenda-content {
    padding: 1rem;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .agenda-list-container {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }
  .agenda-item {
    margin: 1rem;
    padding: 0.75rem 1rem;
  }
  .agenda-content {
    padding: 1rem;
    font-size: 1.4rem;
  }
}
